<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order in process</title>
</head>
<body>
<h3>Hi <th:block th:text="${name}"/></h3>
<h4>This is order of your customer</h4>

Bought at : <th:block th:text="${boughtAt}"/>
<table>
    <th:block th:each="product: ${products}">

        <tr>
            <td>
                <th:block th:text="${product.name}"/>
            </td>

            <td>
                <th:block th:text="${product.price}"/>
            </td>

            <td>
                <th:block th:text="${product.count}"/>

            </td>

    </th:block>

</table>
Total:
<th:block th:text="${total}"/>

</body>
</html>
