<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout.html}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mystyle.css}" />
</head>
<body>

<div layout:fragment="content">
    <table border="2px">
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Description</td>
            <!--<td>Quantity</td>-->
            <td>Price</td>
            <td align="center">Image</td>
            <td></td>
        </tr>
        <tr th:each="product: ${products}">
            <td th:text="${product.id}"/>
            <td>
                <a th:href="@{/products/{id}(id=${product.id})}">
                    <th:block th:text="${product.name}"/>
                </a>
            </td>
            <td th:text="${product.description}"/>
            <!--<td th:text="${product.quantity}"></td>-->
            <td th:text="${product.price}"/>
            <td align="center"><img th:if="${product.imageExtension != null}" height="100"
                     th:src="@{/products/{id}/image(id=${product.id})}"/></td>
            <td>
                <form th:action="@{/products/{productId}(productId=${product.id})}" th:method="DELETE">

                    <input class="form-submit-button" type="submit" value="Delete"/>
                </form>
            </td>
        </tr>

    </table>
   <!-- <a th:href="@{/products/new}">Create new product</a>-->
</div>
</body>
</html>
