<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout.html}"
lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My order</title>
</head>
<body>
<div layout:fragment="content">


    Created at: <b th:text="${currentOrder.createdAt}"></b>

<table>
    <th:block th:each="product: ${products}">

        <tr>
            <td>
                <th:block th:text="${product.name}"/>
            </td>

            <td>
                <th:block th:text="${product.price}"/>
            </td>

            <td>
                <th:block th:text="${product.count}"/>

            </td>

            <td>
                <form th:action="@{/orders/current}" th:method="PUT">
                    <input type="hidden" th:name="productId" th:value="${product.id}"/>
                    <input type="number" size="3" name="count">
                    <input class="form-submit-button" type="submit" th:value="#{currentOrder.button1}"/>
                </form>
            </td>
            <td>
                <form th:action="@{/orders/current}" th:method="DELETE">
                    <input class="form-submit-button" type="hidden" name="productId" th:value="${product.id}"/>
                    <input class="form-submit-button" type="submit" th:value="#{currentOrder.button2}"/>
                </form>
            </td>
        </tr>
        <tr>
            <td colspan="3"></td>
            <td >
            </td>
            <td></td>
        </tr>
    </th:block>

</table>
<a th:text="#{currentOrder.sum}">:</a>
<th:block th:text="${total}"/>
<form th:action="@{/orders/current/buy}" th:method="POST">
    <input class="form-submit-button" type="submit" th:value="#{currentOrder.button3}"/>
</form>
<br>
<a th:href="@{/order/products}">Products</a>
</div>
</body>

</html>