<!DOCTYPE html>
<html lang="en" xmlns:th=""
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout.html}">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>

<body>

<div layout:fragment="content">
<div>My Cart</div>


    <a th:href="@{/product/list}">Show Product List</a>



    <form method="POST" th:object="${product}" th:action="@{/cart}"> </form>

        <div
             th:each="cart : ${}">
            <ul>

                <li>Id: <span th:utext="${/cart}"></span>
                    <input type="hidden"
                           th:name="|cart].productList.id|"
                           th:value="${cart.productList}" />
                </li>
                <li>Name: <span th:utext="${cart.productList.name}"></span></li>
                <li>
                    Price:
                    <span class="price"
                          th:utext="${#numbers.formatDecimal(cartLineInfo.productInfo.price,3,2,'COMMA')}">
                        </span>
                </li>
                <li>Quantity:
                    <input
                            th:name="|cart    [${varStatus.index}].quantity|"
                            th:value="${cart.quantity}" />
                </li>
                <li>Subtotal:
                    <span class="subtotal"
                          th:utext="${#numbers.formatDecimal(cartLineInfo.amount,3,2,'COMMA')}">
                        </span>
                </li>
                <li>
                    <a th:href="@{|/|}">
                        Delete
                    </a>
                </li>
            </ul>
        </div>

        <div style="clear: both"></div>
        <input  type="submit" value="Update Quantity" />

        <form action="#" th:action="@{/user}" th:object="${user}">
            <td class="centre" >
                <input class="centre" type="submit" value= "Enter customer info" /> </td>
        </form>

        <form action="#" th:action="@{/product/list}" th:object="${product}">

                <input class="centre" type="submit" value= "Continue buy" /> </td>
        </form>


</th:block>
</div>
</body>


</html>


