<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout.html}">
<head>
    <meta charset="UTF-8">
    <title>My order</title>
</head>
<body>
<div layout:fragment="content">
<table>
    <th:block th:each="userModel: ${userList}">

        <tr>
            <td>
                <th:block th:text="${userModel.id}"/>

            </td>

            <td>
                <th:block th:text="${userModel.name}"/>
            </td>


            <td>
                <form th:action="@{/user/current}" th:method="PUT">
                    <input type="hidden" th:name="userModelId" th:value="${userModel.id}"/>
                    <input type="text" size="3" name="edit">
                    <input type="submit" th:value="#{currentUser.button1}"/>
                </form>
            </td>
            <td>
                <form th:action="@{/user/current}" th:method="DELETE">
                    <input type="hidden" name="userModelId" th:value="${userModel.id}"/>
                    <input type="submit" th:value="#{currentUser.button2}"/>
                </form>
            </td>
        </tr>
        <tr>
            <td colspan="3"></td>
            <td >
            </td>
            <td></td>
        </tr>
    </th:block>

</table>
<a th:text="#{currentOrder.sum}">:</a>
<th:block th:text="${total}"/>
<form th:action="@{/orders/current/buy}" th:method="POST">
    <input class="form-submit-button" type="submit" th:value="#{currentOrder.button3}"/>
</form>
<br>
<a th:href="@{/products}">Products</a>
</div>
</body>
</html>