<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout.html}">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style type="text/css">
		.content{
			width:800px;
			heights:800px;
			margin-left:230px;
		}


    </style>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mystyle.css}"/>
</head>
<body>
<div layout:fragment="content">

    <div >
        <!--<form method="POST" action="#" th:action="@{/user/seller/save}" th:object="${userModel}" >-->
        <table border="1px">
            <tr>
                <form th:action="@{/user/seller/info/save/image/{id}(id=${userModel.id}, ${_csrf.parameterName}=${_csrf.token})}"
                      method="post" enctype="multipart/form-data">

                <td>
                    <img th:if="${userModel.imageExtension != null}" height="100"
                         th:src="@{/user/users/seller/{id}/image(id=${userModel.id})}"/>
                </td>
                <td>
                    <!--<td><input name="name" th:value="${user.name}"/></td>-->
                    <input type="file" name="image">

                    <input class="form-submit-button" type="submit" value="Update image"/>

                </td>
                </form>
            </tr>


            <div>
                <form th:method="put" action="#" th:action="@{/user/seller/info/save/{id}(id=${id})}" >
            <tr>
                <td> Name</td>
                <td width="300 px" height="25 px ">
                    <input type="text" size="40" th:field="*{userModel.name}" th:value="${userModel.name}">
                </td>
            </tr>

            <tr>
                <td>Phone number: </td>
                <td width="30 px" height="25 px ">+380953267557</td>
            </tr>

            <tr>


                <!--<form action="#" th:action="@{/getAllUser}" th:object="${user}">
                    <td class="centre" >

                <input class="centre" type="submit" value="Other User" /> </td>-->
                <td>

                    <div style="display: flex; justify-content: center;align-items: center; vertical-align: middle;">

                        <input class="form-submit-button" type="submit" value="save"/>

                    </div>

                </td>
                </form>
            </div>
            </tr>
        </table>

    </div>
</div>
</body>
</html>