<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout.html}">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
    <!-- <style>
         .footer-container {
         position: absolute;
         bottom:0;
         width: 660px !important;
             text-align: center;
             &lt;!&ndash;margin-top: 10px;&ndash;&gt;
             padding: 5px 0px 0px 0px;
             border-top: 1px solid #ccc;
             }
     </style>-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/mystyle.css}" />
</head>
<body>
<div class="footer-container" xmlns:th="http://www.thymeleaf.org"  th:fragment="footer">


    @Copy right <a href="//lits.cv.ua" target="_blank">LITS </a>

    See more <a>demo</a>
       <a th:href="@{?locale=en}" style="color:white" class="btn btn-success btn-lg float-right" th:text="#{header.en}">en</a>
        <a th:href="@{?locale=ru}" style="color:white" class="btn btn-success btn-lg float-right" th:text="#{header.ru}">ru</a>
       <a th:href="@{?locale=ua}" style="color:white" class="btn btn-success btn-lg float-right" th:text="#{header.ua}">ua</a>

    <!--<form th:action="@{?locale=en}" method="post">
        <button type="submit" class="btn btn-success btn-lg float-right" th:text="#{header.en}"></button>
    </form>

    <form th:action="@{?locale=ru}" method="post">
        <button type="submit" class="btn btn-success btn-lg float-right" th:text="#{header.ru}"></button>
    </form>
    <form th:action="@{?locale=ua}" method="post">
        <button type="submit" class="btn btn-success btn-lg float-right" th:text="#{header.ua}"></button>
    </form>-->
</div>

</body>
</html>