<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout.html}">
<head>
    <meta charset="UTF-8">
    <title>Get All USer</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mystyle.css}" />
</head>
<body>

<div layout:fragment="content">
<br>


<table align="center" border="1">
    <tr>
        <th>User ID</th>
        <th>User Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>


        <tr th:each="userModel: ${userList}">
            <td th:text="${userModel.id}" />
            <td><a th:href="@{/seller/users/{id}/orders(id=${userModel.id})}" th:text="${userModel.name}"></a></td>
            <td>
                <a th:href="@{/users/{id}(id=${userModel.id})}">Edit</a>
            </td>
            <td>
                <form th:action="@{/users/{id}(id=${userModel.id})}" th:method="delete">
                    <input class="form-submit-button" type="submit" value="delete">
                </form>
            </td>

        </tr>

</table>


</div>
</body>
</html>