<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mystyle.css}" />
</head>
</head>
<body>
<div th:fragment="header"  class="header-container"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <div sec:authorize="isAnonymous()" >
        <div sec:authorize="isAnonymous()">
            <form th:action="@{/registration}" method="get">
                <button type="submit" class="btn btn-success btn-lg float-right" th:text="#{login.sign}"></button>
            </form>
            <form th:action="@{/login}" method="get">
                <button type="submit" class="btn btn-success btn-lg float-right" th:text="#{login.login}"></button>
            </form>


        </div>
        LITS JAVA

        <div> <BR>

        </div>

    </div>
<!--
<div>
    <form th:action="@{?locale=en}" method="post">
        <button type="submit" class="btn btn-success btn-lg float-right" th:text="#{header.en}"></button>
    </form>

    <form th:action="@{?locale=ru}" method="post">
        <button type="submit" class="btn btn-success btn-lg float-right" th:text="#{header.ru}"></button>
    </form>
    <form th:action="@{?locale=ua}" method="post">
        <button type="submit" class="btn btn-success btn-lg float-right" th:text="#{header.ua}"></button>
    </form>
</div>
-->
    <!--<div class="header-container"
         xmlns:th="http://www.thymeleaf.org"
         xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">-->

    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mystyle.css}">
    <nav sec:authorize="isAuthenticated()" class="navbar navbar-expand-lg navbar-light bg-light" >
        <!--<a class="navbar-brand" href="#">Navbar</a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="card-header">
                <li sec:authorize="hasRole('ADMIN')" class="nav-item">
                    <a th:href="@{/admin}">  Admin page</a>|
                </li>

                <li sec:authorize="hasRole('CUSTOMER')" class="nav-item">
                    <a th:href="@{/index}">  Index  </a>
                </li>
                <li sec:authorize="hasRole('CUSTOMER')" class="nav-item">
                    <a th:href="@{/order/products}">Products for Order  </a>
                    <!--<li sec:authorize="hasRole('CUSTOMER')" class="nav-item">
                        <a th:href="@{/index}">Index</a>
                    </li>-->
                <li sec:authorize="hasRole('CUSTOMER')" class="nav-item" th:object="${user}">

                    <a th:href="@{/customer/info}">  User Profile  </a>

                </li>
                <li sec:authorize="hasRole('SELLER')" class="nav-item">

                    <a th:href="@{/user/seller/info}">  Seller info  </a> |
                    <a th:href="@{/order/products}">  Products for Order  </a> |
                    <a th:href="@{/products}">  Edit Products </a> |
                    <a th:href="@{/products/new}">Create new product</a> |


                </li>
                <li sec:authorize="hasRole('MANAGER')" class="nav-item">
                    <a th:href="@{/manager/profile/info}">profile</a>
                    <a th:href="@{/index}">index</a>
                    <a th:href="@{/order/products}">products</a>
                </li>
                <li>
                    <img height="30" alt=""
                         th:src="@{/users/{id}/image(id=${#authentication.getPrincipal().getUserId()})}"/>
                </li>
            </ul>
        </div>
        <div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">
            Logged in user: <span th:text="${#authentication.getPrincipal().getName()}"></span> |
            Roles: <span sec:authentication="principal.authorities"></span>
            <div>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-success btn-lg float-right" th:text="#{login.logout}"></button>
                </form>
            </div>
        </div>





        <!--  <a th:href="@{/index?locale=en}">en</a>
          <a th:href="@{/index?locale=ru}">ru</a>
          <a th:href="@{/index?locale=ua}">ua</a>-->
    </nav>

    <!-- <div class="site-name">LITS JAVA</div>-->

</div>
<!--<div class="site-name">LITS JAVA</div>-->


<!-- <div class="header-bar">
    <th:block sec:authorize="isAuthenticated()">
       Hello
      &lt;!&ndash; <a th:href="" th:utext="">..</a>
       &nbsp;|&nbsp;
       <a th:href="">Logout</a>&ndash;&gt;
    </th:block>

    <th:block sec:authorize="!isAuthenticated()">
      &lt;!&ndash; <a th:href="">Login</a>&ndash;&gt;
    </th:block>
 </div>-->

<!--</div>-->
</div>
</body>
</html>
