<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout.html}">

<head>
    <title>Custom Login Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mystyle.css}" />
</head>

<body>
<div layout:fragment="content">
    <div class="loginConteiner">
        <div class="nameForm">
            <h2 th:text="#{login.page}"></h2>
        </div>
        <div class="actionForm">
            <form th:action="@{/login}" method="post">
                <label for="username" th:text="#{login.username}">Username</label>: <input type="text" id="username" name="username" autofocus="autofocus" /><br>
                <label for="password" th:text="#{login.password}">Password</label>: <input type="password" id="password" name="password" /><br>


                <button type="submit" class="centre btnLogin" th:text="#{login.login}"></button>
            </form>

            <form th:action="@{/registration}" method="get">
                <button type="submit" class="centre btnLogin" th:text="#{login.sign}"></button>
            </form>
        </div>
    </div>
</div>
</body>

</html>



