<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout.html}">
<head>

    <meta charset="UTF-8">
    <title>Manager profile</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mystyle.css}"/>
</head>

<tbody>
<section layout:fragment="content">
    <img src="http://profi-user.ru/wp-content/uploads/2018/07/np4og5po-e1532793203599.jpg" width="200" height="200"
         border="1">

    <p><b>Manager name:</b><br>
        <input type="text" size="40">
    </p>
    <p><b>Phone number:</b><br>
        <input type="text" size="40">
    </p>


    <div style="display: flex; justify-content: center;align-items: center; vertical-align: middle;">
        <button class="form-submit-button" style=" color: blue"> Save</button>
    </div>


    <div id="footer"
         style="display: flex;color:blue; justify-content:bottom;align-items: center; vertical-align:bottom ">&copy;
        LITS Chernivtsy 2018
    </div>
</section>
</tbody>
</html>