<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout.html}"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mystyle.css}" />
</head>
<body>

<div layout:fragment="content">

<table class="">
<tr th:each="product: ${productModelList}">
    <!--<td th:field="*{id}" th:text="${product.id}"/>-->
    <td th:text="${product.name}"/>
    <td th:text="${product.price}"/>
    <td th:text="${product.description}"/>

    <td><img th:if="${product.extension != null}" height="100"
             th:src="@{/products/{id}/image(id=${product.id})}"/></td>

    <td>

        <form th:action="@{/orders/current}" method="POST">
            <input type="hidden" name="productId" th:value="${product.id}"/>
            <input class="form-submit-button" type="submit" value="Add To Order"/>
        </form>
    </td>
</tr>
</table>
<!--&lt;!&ndash;<form action="#" th:action="@{/product/edit}" th:object="${productModel}"-->
      <!--method="POST">-->

    <!--<input-->
            <!--name="id"-->
            <!--th:text="${productModelValue.name}"-->
            <!--th:value="${productModelValue.name}" />-->

    <!--<input type="submit" value="edit from html"/></td>-->

<!--</form>&ndash;&gt;-->

</div>
</body>
</html>
