

<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout.html}">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mystyle.css}" />
</head>
<body>
<div layout:fragment="content">




<div>Product</div>
<div th:if="${errorMessage!= null}" class="error-message" th:utext="${errorMessage}">
</div>

<form  th:object="${productForm}" th:action="@{/admin/product}"
       method="POST" enctype="multipart/form-data">
    <table style="text-align:left;" border="2px">
        <tr>
            <td>Id *</td>
            <td style="color:red;">
                <input th:field="*{newProduct}" type="hidden" />
                <input th:if="${productForm.newProduct}" type="text"
                       th:field="*{code}" />
                <th:block th:if="${!productForm.newProduct}">
                    <span th:utext="${productForm.code}"></span>
                    <input type="hidden" th:field="*{code}" />
                </th:block>
            </td>
            <td>
                <span class="error-message" th:if="${#fields.hasErrors('code')}" th:errors="*{code}">..</span>
            </td>
        </tr>
        <tr>
            <td>Name *</td>
            <td><input th:field="*{name}"  /></td>
            <td>
                <span class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">..</span>
            </td>
        </tr>
        <tr>
            <td>Price *</td>
            <td><input th:field="*{price}"  /></td>
            <td>
                <span class="error-message" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">..</span>
            </td>
        </tr>

            <td>&nbsp;</td>
            <td>
                <input class="form-submit-button" type="submit" value="Submit" />
                <input class="form-submit-button" type="reset" value="Reset" />
            </td>
        </tr>
    </table>
</form>

</div>
</body>
</html>