<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout.html}">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<meta charset="UTF-8">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mystyle.css}" />
</head>


    <body>
    <div layout:fragment="content">
    <form action="#" th:action="@{/addUser}" th:object="${userModel}"
          method="POST">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center mb-5" th:text="#{registration.page}"></h2>
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class="card border-secondary">
                            <div class="card-header">
                                <h3 class="mb-0 my-2" th:text="#{registration.sign_up}"></h3>
                            </div>
                            <div class="card-body">
                                <form class="form" role="form" autocomplete="off">
                                    <div class="form-group">
                                        <label for="inputName" th:text="#{registration.name}">Name</label>
                                        <input type="text" class="form-control" id="inputName" placeholder="full name" th:field="*{name}">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" th:text="#{registration.email}">Email</label>
                                        <input type="email" class="form-control" id="inputEmail3" placeholder="email@gmail.com" required="" th:field="*{email}">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword3" th:text="#{registration.password}">Password</label>
                                        <input type="password" class="form-control" id="inputPassword3" placeholder="password" title="At least 6 characters with letters and numbers" required="" th:field="*{password}">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputVerify3" th:text="#{registration.verify}">Verify</label>
                                        <input type="password" class="form-control" id="inputVerify3" placeholder="password (again)" required="">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success btn-lg float-right" th:text="#{registration.register}"></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/row-->
                <!--n-->
            </div>

            <!--/col-->
        </div>
        <!--/row-->
    </div>
    <!--/container-->
</form>
    </div>
</body>

</html>

