<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Submitted User Information</h2>
<table>
    <tr>
        <td>Name</td>
        <td th:text="*{name}" />
    </tr>
    <tr>
        <td>ID</td>
        <td th:text="*{id}" />    </tr>
    <tr>
        <td>ID</td>
        <td th:text="*{objectFromDatabase}" />    </tr>
</table>
</body>
</html>