<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mystyle.css}" />
</head>
<body>
<div layout:fragment="content">
<form method="POST" action="#" th:action="@{/sighup/save}" th:object="${userModel}">

        <tr>
            <td>Name </td>
            <td><input type="text"  th:value="${name}" /></td>

        </tr>
        <tr>
            <td>Some else</td>
            <td><input   /></td>
        </tr>

        <td>&nbsp;</td>
        <td>
            <input class="form-submit-button" type="submit" value="Submit" />
            <input class="form-submit-button" type="reset" value="Reset" />
        </td>
        </tr>
    </table>
</form>
</body>
</html>