<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout.html}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mystyle.css}" />
</head>
<body>

<div layout:fragment="content">
    <table>
        <tr>
            <td>Id</td>
            <td>Status</td>
            <td>Price</td>
        </tr>
        <tr th:each="order: ${orders}">
            <td><a th:href="@{/customer/orders/{orderId}/products(orderId=${order.orderModel.id})}" th:text="${order.orderModel.id}"></a></td>
            <td th:text="${order.orderModel.status}"/>
            <td th:text="${order.total}"/>
        </tr>

    </table>
 <!--   <a th:href="@{/products/new}">Create new product</a>-->
</div>
</body>
</html>
